@font-face {
  font-family: mokoto;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-400.otf");
  font-weight: regular;
}

@font-face {
  font-family: mokoto-glitch;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-glitch-mark-1-400.otf");
  font-weight: regular;
}

@font-face {
  font-family: mokoto-glitch-2;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-glitch-mark-2-400.otf");
  font-weight: regular;
}

@font-face {
  font-family: mokoto-glitch-outline;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-glitch-mark-outline-400.otf");
  font-weight: regular;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --bg-color: hsl(0, 0%, 90%);
  --text-color: hsl(0, 0%, 10%);
  --grid-color: #ffc5d3;
  --accent-color: #ffc5d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(0, 0%, 10%);
    --text-color: hsl(0, 0%, 90%);
    --grid-color: #ffc5d3;
    --accent-color: hsl(126 100% 73.4%);
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.grid-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.grid {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;

  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
  background-size: 30px 30px;
  transform: perspective(1000px) rotateX(45deg) scale(3);
  transform: skew(-30deg) scale(2.5);
}

.grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top center;
  background: radial-gradient(circle, var(--bg-color) 25%, transparent 80%);
  pointer-events: none;
}
*/
.hero {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero h1,
h2 {
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.1;
  cursor: default;
  color: var(--text-color);

  font-family: mokoto, sans-serif;
}

.hero h1:hover,
.skill:hover {
  animation-duration: 1.5s;
  animation-name: glitch;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes glitch {
  from {
    font-family: mokoto;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  20% {
    font-family: mokoto-glitch-2;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  40% {
    font-family: mokoto-glitch;
    text-shadow: 2px 2px 0px var(--accent-color);
  }

  75% {
    font-family: mokoto-glitch-outline;
    text-shadow: 2px 2px 0px var(--accent-color);
  }

  90% {
    font-family: mokoto;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  to {
    font-family: mokoto-glitch-2;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}

.logo {
  height: 5vh;
  width: 5vw;
  position: absolute;
  top: 5%;
  right: 2.5%;
}

.status {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: flex;
}

.status-text {
  overflow: hidden;
  align-self: center;
  border-right: 2rem solid var(--text-color);
  white-space: nowrap;
  margin: 0 auto;
  animation:
    glitch-status 5s infinite normal 5s,
    typing 2.5s steps(15, end),
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}

@keyframes glitch-status {
  from {
    font-family: mokoto;
  }
  10% {
    font-family: mokoto-glitch-2;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  15% {
    font-family: mokoto-glitch-outline;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  25% {
    font-family: mokoto-glitch;
    text-shadow: 2px 2px 0px var(--accent-color);
  }
  30% {
    font-family: mokoto;
  }
  to {
    font-family: mokoto;
  }
}

.title {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.title h2 {
  font-size: clamp(1rem, 2rem, 2.5rem);
}

.skills {
  display: inline-block;
}
