@font-face {
  font-family: mokoto;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-400.otf");
  font-weight: regular;
}

@font-face {
  font-family: mokoto-glitch;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-glitch-mark-1-400.otf");
  font-weight: regular;
}

@font-face {
  font-family: mokoto-glitch-2;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-glitch-mark-2-400.otf");
  font-weight: regular;
}

@font-face {
  font-family: mokoto-glitch-outline;
  src: url("./assets/fonts/mokoto/otf/mokoto-mokoto-regular-glitch-mark-outline-400.otf");
  font-weight: regular;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --pink: #ffc5d3;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.hero {
  height: 100dvh;
  width: 100dwh;
  font-family: mokoto;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hero h1 {
  transition: font-family 1s;
}

.hero h1:hover {
  font-family: mokoto-glitch-2;
  font-family: mokoto-glitch;
  font-family: mokoto-glitch-outline;
  animation-duration: 0.75s;
  animation-name: glitch;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes glitch {
  from {
    font-family: mokoto;
  }

  50% {
    font-family: mokoto-glitch-2;
  }

  75% {
    font-family: mokoto;
  }

  to {
    font-family: mokoto-glitch;
  }
}
